/* Animation properties */
@property --rt {
	syntax: "<string>";
	initial-value: "";
	inherits: false;
}

@property --routeTarget {
	initial-value: "";
	inherits: false;
}

@property --num {
	syntax: "<integer>";
	initial-value: 0;
	inherits: false;
}

@property --distance {
	initial-value: 0;
	inherits: false;
}


@property --fleetNum {
	syntax: "<integer>";
	initial-value: 0;
	inherits: false;
}

@property --fleet {
	initial-value: 0;
	inherits: false;
}

/* Color variables */
:root {
	--BusOrange: #F2AF29;
	--ErrorRed: #f22929;
	--ValidatedGreen: #3dcb1d;
	--NightBlue: #1f6a95;
}

/* Bus font */
@font-face {
    font-family: 'dotMatrix';
    src: url('../font/DOTMBold.TTF');
}

/* Main container */
#distance-container {
	--Color: var(--BusOrange);
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	gap: 1dvw;
	padding: 0 2dvw;

	transition: --Color 2s;

	border-radius: 10px;

	position: relative;

	border: 1px solid var(--Color);

	background-color: #000000;
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	font-family: 'dotMatrix';
	/* font-size: 5em; */
	font-size: 6dvw;
	color: var(--Color);
	text-wrap-mode: nowrap;

	anchor-scope: --route, --fleet;
}

/* G10!!!! */
#route {
	/* margin-left: 30px; */
	text-align: left;

	transition: --rt 5s;
	min-width: 4ch;
}

/* Distance to closest G10 */
#distance-counter {
	transition: --num 5s;
	counter-set: num var(--num);

	--num: var(--distance, 0);
}

/* Distance to closest G10 - animates between values and appends SI */
#distance-counter::after {
	display: var(--after);
	content: counter(num) "m";
}

/* Fleet number */
#closest-fleet-number {
	transition: --fleetNum 2s;
	counter-set: fleetNum var(--fleetNum);

	--fleetNum: var(--fleet, 0);

	/* margin-right: 30px; */
	text-align: right;
	min-width: 4ch;
}

/* Fleet number - animates between values */
#closest-fleet-number::after {
	display: var(--after);
	content: counter(fleetNum);
}


/* Time since last update */
#distance-counter-last-updated-time {
	font-family: monospace;
	color: #474747;
	margin: 5px;
}


/* Loading throbber */
#throbber {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	max-height: 100%;
	border-radius: 10px;
	background: #000000;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: 2s;
}

#throbber > img {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

#next-stop {
	color: aquamarine;
}

#next-stop::after {
	color:azure;
	content: var(--next-stop);
} /* ok that fixed it