html {
    overflow-x: hidden;
}

body {
    overflow-x:hidden;
    background-color: #F2AF2915;
    height: 100dvh;
    width: 100dvw;
    padding:0%;
    margin:0%;
}
#G10-name-header {
    border-bottom: #E0E0CE 1px solid;
}

#header-container {
    background-color: #000000;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: min-content;
    padding: 10px;
    text-align: center;

    color: #E0E0CE;
    position: relative;
    z-index: 3;
}

#header-container h1 {
    font-family: 'Courier New', Courier, monospace;

}

#body-content-main{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
}

#body-content-main > div{
    background-color: rgb(215, 107, 208);
    border-radius: 2rem;
}

#rotation {
    aspect-ratio: 400/256;
    /* width: 20dvw;    */
    position: absolute;
    margin-top: -200px;
    left: 50%;
    translate: -50% 0;
}


#map {
    width: 100dvw;
    aspect-ratio: 2.25;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: -2rem;
    z-index: 1;
}

#fade {
    width: 100dvw;
    height: 1dvh;
    position: relative;
    background-color: black;
    z-index: 2;
    box-shadow: 0px 0px 40px 50px rgba(0, 0, 0, 1);
}

.stop-popup, .vehicle-popup { text-wrap-mode: nowrap; color: rgb(200, 200, 200); font-family: 'Courier New', Courier, monospace; font-weight: bold;}
.stop-popup b, .vehicle-popup b { font-family: 'dotMatrix'; color: var(--BusOrange); font-size: large; }
.stop-popup *, .vehicle-popup * { margin: 0; }
.stop-popup .maplibregl-popup-close-button, .vehicle-popup .maplibregl-popup-close-button { display: none; }
.stop-popup .maplibregl-popup-content, .vehicle-popup .maplibregl-popup-content {
    background-color: rgb(30, 30, 30); 
    border: 1px solid var(--BusOrange);
    box-shadow: 0 0 0.3rem var(--BusOrange);
    border-radius: 1rem;
}
.stop-popup .maplibregl-popup-tip, .vehicle-popup .maplibregl-popup-tip { border-bottom-color: var(--BusOrange) !important;  }
.stop-popup i, .vehicle-popup i { font-size: x-small; opacity: .7 }

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100dvw;
    }
    #header-container {
        padding-left: 0;
        padding-right: 0;
        
        width: 100dvw;
        overflow-x: hidden;
    }
    #rotation { width: 100dvw; }
    #map { aspect-ratio: 1; }
}