html {
    overflow-x: hidden;
}

body {
    overflow-x:hidden;
    background-color: #F2AF2915;
    height: 100dvh;
    width: 100dvw;
    padding:0%;
    margin:0%;
}
#G10-name-header {
    border-bottom: #E0E0CE 1px solid;
}

#header-container {
    background-color: #000000;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    height: min-content;
    padding: 10px;
    text-align: center;

    color: #E0E0CE;
}

#header-container h1 {
    font-family: 'Courier New', Courier, monospace;

}

#body-content-main{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
}

#body-content-main > div{
    background-color: rgb(215, 107, 208);
    border-radius: 2em;
}


#map {
    width: 90dvw;
    aspect-ratio: 10 / 3;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}

#next-stop {
    font-family: 'Courier New', 'Courier New', Courier, monospace
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100dvw;
    }
    #header-container {
        padding-left: 0;
        padding-right: 0;
        
        width: 100dvw;
        overflow-x: hidden;
    }
    #rotation {
        width: 100dvw;
    }
}