html {
    overflow-x: hidden;
}

body {
    overflow-x:hidden;
    background-color: #F2AF2915;
    height: 100dvh;
    width: 100dvw;
    padding:0%;
    margin:0%;
}
#G10-name-header {
    border-bottom: #E0E0CE 1px solid;
}

#header-container {
    background-color: #000000;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: min-content;
    padding: 10px;
    text-align: center;

    color: #E0E0CE;
    position: relative;
    z-index: 3;
}

#header-container h1 {
    font-family: 'Courier New', Courier, monospace;

}

#body-content-main{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
}

#body-content-main > div{
    background-color: rgb(215, 107, 208);
    border-radius: 2rem;
}

#rotation { aspect-ratio: 400/256; }
@media screen and (min-width: 768px) { /* Desktop only */
    #rotation {
        position: absolute;
        margin-top: -200px;
        left: 50%;
        translate: -50% 0;
    }
}

#meta-body-container { anchor-scope: --map; }


#map {
    width: 100dvw;
    aspect-ratio: 2.25;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: -2rem;
    z-index: 1;
    anchor-name: --map;
}

#map-buttons {
    display: grid;
    position: absolute;
    position-anchor: --map;
    left: anchor(left);
    top: anchor(center);
    translate: 0 -50%;
    grid-template-columns: min-content;
    grid-auto-rows: 1fr;
    z-index: 5;

    background-color: rgb(20, 20, 20);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem 0.5rem 1rem 0;
    gap: 0.25rem;
}

#map-buttons > button {
    border-radius: 0;
    appearance: none;
    border: none;
    font-size: large;
    background-color: rgb(20, 20, 20);
    color: var(--BusOrange);
    align-content: center;
    padding: 0.25rem;
    padding-bottom: 0.1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: color 0.4s, background-color 0.4s;
}
#map-buttons > button.selected { background-color: var(--BusOrange); color: white; }
#map-buttons > button:not(.selected):hover { background-color: rgb(40, 40, 40); }

#fade {
    width: 100dvw;
    height: 1dvh;
    position: relative;
    background-color: black;
    z-index: 2;
    box-shadow: 0px 0px 40px 50px rgba(0, 0, 0, 1);
}

.stop-marker {
    width: 5px;
    height: 5px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    outline: 2px solid var(--color, red);
}

.stop-popup, .vehicle-popup { 
    text-wrap-mode: nowrap; 
    color: rgb(200, 200, 200); 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;
    z-index: 30;
}
.stop-popup b, .vehicle-popup b { font-family: 'dotMatrix'; color: var(--BusOrange); font-size: large; }
.stop-popup *, .vehicle-popup * { margin: 0; }
.stop-popup .maplibregl-popup-close-button, .vehicle-popup .maplibregl-popup-close-button { display: none; }
.stop-popup .maplibregl-popup-content, .vehicle-popup .maplibregl-popup-content {
    background-color: rgb(30, 30, 30); 
    border: 1px solid var(--BusOrange);
    box-shadow: 0 0 0.3rem var(--BusOrange);
    border-radius: 1rem;
    z-index: 30;
}
.stop-popup .maplibregl-popup-tip, .vehicle-popup .maplibregl-popup-tip { border-bottom-color: var(--BusOrange) !important;  }
.stop-popup i, .vehicle-popup i { font-size: x-small; opacity: .7 }

#archives {
    margin-top: 2lh;
    display: grid;
    grid-template-columns: 0 1fr;
    place-items: center;
    place-content: center;
}

#archives > img {
    width: 37dvw;
    aspect-ratio: 400/256;
}

#archives > div {
    width: 1px;
    aspect-ratio: 1;
    background-color: var(--BusOrange);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    translate: calc(50dvw - 50%) -50%;
    z-index: -2;
    box-shadow: 
        0 0 7dvw 8dvw rgb(255, 220, 170),
        0 0 8dvw 8dvw var(--BusOrange);
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100dvw;
    }
    #header-container {
        padding-left: 0;
        padding-right: 0;
        
        width: 100dvw;
        overflow-x: hidden;
        gap: 2px;
    }
    #rotation { 
        width: 80dvw; 
        margin-top: -6dvw;
    }
    #map { 
        aspect-ratio: 1; 
    }

    #archives > img { width: 75dvw; }
    #archives > div {
        box-shadow: 
            0 0 15dvw 18dvw rgb(255, 220, 170),
            0 0 18dvw 18dvw var(--BusOrange);
    }
}